#examples h2 {
	text-align: left;
	margin-top: 2rem;

	& menu {
		margin: 1rem 0;
		padding: 0;
		display: flex;
		gap: 0.5rem;
		list-style: none;
	}

	& menu button {
		padding: 0.5rem 1rem;
		border: none;
		border-radius: 6px;
		background-color: transparent;
		color: #a18aba;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 1rem;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
	}

	& menu button:hover {
		background-color: #1b082f;
		color: #ebe7ef;
	}

	& menu button.active {
		background-color: #7925d3;
		color: #ebe7ef;
	}
}
